@charset "UTF-8";
/* Définition des couleurs */
@font-face {
  font-family: "Shrikhand Regular";
  src: url("../police/Shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("../police/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../police/Roboto/Roboto-Regular.ttf") format("truetype"), url("../police/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Light";
  src: url("../police/Roboto/Roboto-Light.ttf") format("truetype"), url("../police/Roboto/Roboto-Light.ttf") format("truetype");
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  animation: spin 2s linear;
  animation-fill-mode: forwards;
}

@keyframes spin {
  99.999% {
    transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.heart::before {
  font-family: "Font Awesome 5 Free", serif;
  content: "\f004";
  transition-duration: 1s;
}

.heart:hover {
  font-weight: 900;
}

.shrikhand {
  font-family: "Shrikhand Regular", cursive;
}
.shrikhand.logo {
  font-size: 10vw;
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.shrikhand.title {
  font-size: 35px;
}
.shrikhand.white {
  color: white;
}

.roboto {
  font-family: "Roboto Regular", serif;
}
.roboto.medium {
  font-size: 20px;
}
.roboto.big {
  font-size: 25px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.roboto.small {
  font-size: 15px;
}
.roboto.white {
  color: white;
}
.roboto.title {
  font-weight: bold;
  font-size: 25px;
}

.roboto-light {
  font-family: "Roboto Light", cursive;
  font-size: 20px;
}
.roboto-light.white {
  color: white;
}
.roboto-light.medium {
  font-size: 18px;
}

.roboto-tiny {
  font-family: "Roboto Light", cursive;
  font-size: 10px;
  text-align: center;
}
.roboto-tiny.white {
  color: white;
}

.grey {
  color: #f6f6f6;
}

.darkgrey {
  color: grey;
}

#head {
  margin-bottom: 5px;
  display: flex;
  flex-basis: 100%;
}

#shadow-head {
  box-shadow: 0 5px 5px lightgrey;
  display: flex;
  flex-basis: 100%;
}

.locate {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
  height: 50px;
}
.locate .icon {
  margin-right: 45px;
}
.locate #locate-group {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Light", serif;
  font-size: 15px;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 65px 20px 30px 20px;
}
.presentation .sous-pres {
  margin-top: 25px;
  text-align: center;
}

.selection {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 70px;
}
.selection .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 15vw;
  width: 70vw;
  font-size: 4vw;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  box-shadow: 5px 5px 15px 5px lightgrey;
  color: white;
  cursor: pointer;
}
.selection .button:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}

.steps {
  margin: 0 25px 0 25px;
}
.steps .steps-group {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
}
.steps .steps-group .one::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "1";
  color: white;
  text-align: center;
  font-size: 15px;
  margin-left: -12px;
  font-family: "Roboto Light", serif;
  background-color: #9356DC;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}
.steps .steps-group .two::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "2";
  color: white;
  text-align: center;
  font-size: 15px;
  margin-left: -12px;
  font-family: "Roboto Light", serif;
  background-color: #9356DC;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}
.steps .steps-group .three::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "3";
  color: white;
  text-align: center;
  font-size: 15px;
  margin-left: -12px;
  font-family: "Roboto Light", serif;
  background-color: #9356DC;
  border-radius: 20px;
  width: 25px;
  height: 25px;
}
.steps .step {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  border-radius: 20px;
  height: 70px;
  width: 350px;
  font-size: 30px;
  box-shadow: 5px 5px 15px 5px lightgrey;
  background-color: #f6f6f6;
  cursor: pointer;
}
.steps .step p {
  text-align: left;
}
.steps .step:hover {
  background-color: rgba(238, 130, 238, 0.3);
  transition-duration: 0.5s;
}
.steps .step:hover .icon {
  color: #9356DC;
  transition-duration: 0.5s;
}
.steps .step .icon {
  font-size: 20px;
}
.steps .step .icon:hover {
  color: #9356DC;
}

.restaurants {
  margin: 50px 0 50px 0;
  background-color: #f6f6f6;
}
.restaurants .title {
  padding-top: 40px;
  margin-left: 35px;
}
.restaurants .cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 35px;
}
.restaurants .cards .card {
  background-color: white;
  width: 340px;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: darkgrey 1px 1px 10px 0;
}
.restaurants .cards .card .picture {
  overflow: hidden;
  width: 340px;
  height: 160px;
  border-radius: 20px;
  z-index: 1;
}
.restaurants .cards .card .picture .new-label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 10px 0 0 245px;
  background-color: #99e2d0;
  color: #008766;
  width: 80px;
  height: 30px;
  z-index: 3;
}
.restaurants .cards .card .picture img {
  position: absolute;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 160px;
  width: 340px;
  z-index: 2;
}
.restaurants .cards .card .description {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
  flex-basis: 100%;
  justify-content: space-between;
}
.restaurants .cards .card .description p {
  text-align: left;
  margin-left: 0;
}
.restaurants .cards .card .description .left-desc {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
  margin-left: 8px;
}
.restaurants .cards .card .description .right-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  margin-right: 20px;
}
.restaurants .cards .card .description .icon {
  font-size: 25px;
  background-color: white;
}
.restaurants .cards .card .description .icon:hover {
  transition-duration: 0.5s;
  color: #9356DC;
}
.restaurants .cards .card:hover {
  box-shadow: grey 1px 1px 45px 0;
  transition-duration: 0.5s;
}

.foot {
  margin-top: 25px;
  padding-bottom: 35px;
  background-color: #353535;
  width: 100%;
  height: auto;
}
.foot #foot-title {
  margin-left: 35px;
  padding-top: 45px;
}
.foot #foot-list {
  margin: 15px 0 0 35px;
}
.foot #foot-list .item {
  margin-top: 5px;
}
.foot #foot-list .item .ss-text {
  color: white;
}
.foot #foot-list .item .separate {
  margin-right: 10px;
}
.foot #foot-list .item .separate-big {
  margin-right: 17px;
}
.foot #foot-list .item p {
  display: inline;
}

@media screen and (min-width: 810px) {
  .presentation .roboto.big {
    font-size: 35px;
  }
  .presentation .roboto-light {
    font-size: 25px;
  }

  .shrikhand.logo {
    font-size: 100px;
  }

  .roboto.medium {
    font-size: 25px;
  }

  .selection .button {
    border-radius: 50px;
    height: 70px;
    width: 400px;
  }

  .foot #foot-title {
    font-size: 20px;
  }
  .foot #foot-list {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
